.navbar {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid blue;
    
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin-right: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    background-color: #333;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown.abierto .dropdown-content {
    display: block;
}